.swiper {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.swiper-slide {
  border-radius: 20px;
  max-height: 325px;
  width: 100%;
  height: auto; /* 높이를 고정시키지 않고 자동으로 설정 */
}

.swiper-slide div {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%; /* 높이를 부모 요소에 맞게 조정 */
  object-fit: fill; /* 이미지를 부모 요소의 크기에 맞춰 비율을 유지하면서 채우기 */
  border-radius: 5px;
}
.swiper .swiper-pagination {
  position: absolute;
  bottom: -30px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: white;
  border: 1px solid white;

  opacity: 1;
}
.swiper-pagination-bullet-active {
  width: 30px;
  transition: width 0.5s;
  border-radius: 5px;
  background: #0f0;
  border: 1px solid transparent;
}
